.backgroundColorSky {
  width: 100%;
  background: #202736;
  background: linear-gradient(to bottom, #181d23 0%, #202736 80%);
  min-height: 100vh;
}

.stars {
  height: 100vh;
  background: url(../../assets/images/Stars.svg);
  opacity: 0;
  animation: stars-move-in 2000ms 300ms forwards
}

@keyframes stars-move-in {
  from {
    background-position-y: -100px;
  }

  to {
    opacity: 1;
    background-position-y: 0;
  }
}

.profile {
  position: absolute;
  width: 650px;
  height: 650px;
  left: 50%;
  top: 100%;
  margin-bottom: 0;
  transform: translate(-50%, -100%);
  z-index: 2;
  opacity: 0;
  animation: portfolio-move-in 1.2s 1s forwards;
}

@keyframes portfolio-move-in {
  from {
    opacity: 0;
    left: 150%;
  }
  to {
    opacity: 1;
    left: 50%;
  }
}
.moon {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../../assets/images/Moon.svg) center center no-repeat;
  background-size: 40% 40%;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: moon-move-in 1.2s 1s forwards;
}

@keyframes moon-move-in {
  from {
    opacity: 0;
    background-position: left 150%;
  }

  to {
    opacity: 1;
    background-position: top left;
  }
}

.wave {
  box-shadow: 0px 0px 15px #fff;
}